@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../public/img/hero-background.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
@media (max-width: 801px) {
  body {
    background-image: none;
  }
}
